    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="./js/remodeling.js"></script>
    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_PkdCJ31w0qOCLFqpTdJHB");
       })();
    </script>
    </body>

    </html>